# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit
.streamlit/

# Generated Reports
*.docx

# Cache
.cache/

# Lock files
*.lock